.body {
    background-image: url("../img/burger-monster.jpg");
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: center;
    background-attachment: fixed;
    background-color: goldenrod;
    height: 100%;
    overflow: hidden;

}

.container {
    font-family: 'Frijole', cursive;
}

.main-title {
    font-size: 55px;
    text-align: center;
    padding-top: 20px;
}

.devoured {
    background-color: #167716;
    border-radius: 5px;
    margin: 5px;
    color: white;
}

::placeholder {
    text-align: center;
}