.body {
    background-image: url("../img/burger-monster.jpg");
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.container {
    font-family: 'Frijole', cursive;
}

.main-title {
    font-size: 55px;
    text-align: center;
    padding-top: 20px;
}