.body {
    background-image: url("../img/burger-monster.jpg");
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.container {
    font-family: 'Frijole', cursive;
}

.main-title {
    font-size: 55px;
    text-align: center;
    padding-top: 20px;
}

.burger-js {
    background-color: #ffffff;
    margin: 5px 0;
    padding: 7px;
}

.devoured {
    background-color: #C7C6C7;
    padding: 3px;
    border-bottom: 0.5px #F8F9FA solid;
    font-size: 13px;
    
}